ply==3.11
contourpy==1.1.1
pexpect==4.9.0
GitPython==3.1.45
async-timeout==5.0.1
filelock==3.16.1
idna==3.10
traitlets==5.14.3
python-dateutil==2.9.0
multidict==6.1.0
ptyprocess==0.7.0
aiosignal==1.3.1
cssselect2==0.7.0
zipp==3.20.2
importlib_resources==6.4.5
urllib3==2.2.3
webencodings==0.5.1
tinycss2==1.4.0
fonttools==4.57.0
propcache==0.2.0
networkx==3.1
defusedxml==0.7.1
frozenlist==1.5.0
pickleshare==0.7.5
attrs==25.3.0
pydantic==2.10.6
yarl==1.15.2
sympy==1.13.3
six==1.16.0
protobuf==5.29.5
jedi==0.19.2
joblib==1.4.2
charset-normalizer==3.4.2
requests==2.32.4
pyparsing==3.1.4
aiohttp==3.10.11
asttokens==3.0.0
tqdm==4.67.1
scipy==1.10.1
click==8.1.8
appnope==0.1.4
certifi==2025.8.3
typing_extensions==4.13.2
prompt_toolkit==3.0.52
cairocffi==1.7.1
parso==0.8.5
decorator==5.2.1
torchvision==0.15.2
cffi==1.17.1
executing==2.2.0
wandb==0.21.1
sentry-sdk==2.34.1
stack-data==0.6.3
ipython==8.12.3
threadpoolctl==3.5.0
kiwisolver==1.4.7
matplotlib==3.7.5
torch_sparse==0.6.18
torchaudio==2.0.2
backcall==0.2.0
pip==25.0.1
torch-geometric==2.6.1
gitdb==4.0.12
psutil==7.0.0
mpmath==1.3.0
pytz==2024.2
wcwidth==0.2.13
pyverilog==1.3.0
numpy==1.24.4
scikit-learn==1.3.2
torch_scatter==2.1.2
setuptools==75.3.0
packaging==25.0
torch==2.0.1
pydantic_core==2.27.2
pycparser==2.22
cycler==0.12.1
Jinja2==3.1.6
wheel==0.45.1
spicy==0.16.0
pure_eval==0.2.3
fsspec==2025.3.0
MarkupSafe==2.1.5
Pygments==2.19.2
pillow==10.4.0
pandas==2.0.3
PyYAML==6.0.2
matplotlib-inline==0.1.7
smmap==5.0.2
tzdata==2024.2
aiohappyeyeballs==2.4.4
platformdirs==4.3.6
annotated-types==0.7.0
eval_type_backport==0.2.2
CairoSVG==2.7.1
