/data/
GNN-RE/
/GNN-RE/
misc/
/misc/
__pycache__/
/__pycache__/
__pycache__

*.gml
!test.gml

*.png
*.log
*.csv
wandb/
.history/
logs/


mwe/tum-*/
models/

new_graphs_crypto_scp/
graphs_scp/
*.joblib



new_designs/
data_files_misc/
eval_results/
graphs_final/
mad_results/
mwe/
results/
results_final/
thresholds/