community==1.0.0b1
editdistance==0.8.1
matplotlib==3.10.7
networkx
numpy
pandas==2.3.3
scikit_learn==1.7.2
scipy
seaborn==0.13.2
torch==2.1.0+cpu
torch_geometric==2.7.0
tqdm==4.67.1
wandb==0.23.0
webcolors==25.10.0
